body {
  -webkit-font-smoothing: antialiased;
  font-family: "Open Sans", sans-serif;
  background: #f0f0f0;
  font-size: 15px; }
  body.modal-open {
    margin: 0; }
  body h1, body h2, body h3, body h4 {
    font-family: "Open Sans", sans-serif;
    font-weight: 100;
    margin-top: 0; }
    body h1.flat, body h2.flat, body h3.flat, body h4.flat {
      margin-bottom: 0; }
    body h1 small, body h2 small, body h3 small, body h4 small {
      display: inline-block;
      margin-left: 10px; }
    body h1.push, body h2.push, body h3.push, body h4.push {
      margin-bottom: 1em; }
  body p {
    font-size: 1em;
    margin-bottom: 1.5em;
    line-height: 1.7; }

section {
  padding: 4em 0; }
  section.dark {
    color: white; }
  section.light {
    background-color: white;
    color: #212121; }
  section.ash {
    background-color: #f9f9f9; }
  section.yellow {
    background-color: #f3c432;
    color: #53451a; }
  section.mint {
    background-color: #E8F1F3; }
  section.berry {
    background-color: #f6dcd8; }
  section.motif {
    background-color: white;
    background-image: url("../images/motif.jpg");
    background-size: auto 80%;
    background-position: 120% 50%;
    background-repeat: no-repeat; }
  section .card {
    background: white;
    border: 1px solid #eaeaea; }
  section .btn-primary {
    background: #e63d25;
    border: 1px solid #ab2614; }
    section .btn-primary:hover {
      background: #ab2614;
      border: 1px solid #ab2614; }
  section .btn-lg {
    border-radius: 3px;
    padding: 14px 40px;
    font-size: 16px; }
    section .btn-lg i {
      margin-left: 8px;
      font-size: 0.65em;
      top: 0; }
  section .thumbnail {
    margin-bottom: 30px; }
  section .attachment-post-thumbnail {
    width: 140px;
    height: auto; }
  section .attachment-post-medium {
    width: 240px;
    height: auto; }
  section .alignleft {
    float: left;
    margin: 0 20px 10px 0; }
  section .alignright {
    float: right;
    margin: 0 0 10px 20px; }
  section .video-wrapper {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
    margin-bottom: 20px; }
    section .video-wrapper iframe {
      background: white;
      padding: 6px;
      position: absolute;
      border: 1px solid #ddd !important;
      top: 0;
      left: 0;
      width: 100% !important;
      height: 100% !important; }

.nav-tabs li {
  width: 20%; }
  .nav-tabs li a {
    background: #f5f5f5;
    border-radius: 0;
    text-align: center;
    font-size: 15px;
    padding: 18px 15px;
    border: 1px solid #dadada;
    color: #212121; }
    .nav-tabs li a:hover {
      border: 1px solid #dadada;
      background: #fcfcfc; }
  .nav-tabs li.active a {
    background: white;
    border-bottom-color: transparent; }
    .nav-tabs li.active a:hover {
      border-bottom-color: transparent; }

.tab-pane {
  background: white;
  border: 1px solid #ddd;
  border-top: none;
  padding: 40px; }
  .tab-pane#fans img {
    margin: 0; }
  .tab-pane h2 {
    margin-top: 20px;
    font-size: 36px;
    text-align: left; }
  .tab-pane p {
    font-size: 16px;
    line-height: 1.6; }
  .tab-pane ul {
    margin: 0 0 30px 30px;
    list-style-position: outside;
    padding: 0; }
    .tab-pane ul li {
      text-align: left;
      font-size: 16px;
      margin-bottom: 10px; }

.panel-group {
  margin-bottom: 3em; }
  .panel-group .panel {
    border-radius: 2px;
    margin-bottom: 1em;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.2);
    border: none; }
    .panel-group .panel .panel-heading {
      background: white;
      border: none; }
      .panel-group .panel .panel-heading .panel-title {
        padding: 4px 0; }
        .panel-group .panel .panel-heading .panel-title a {
          font-size: 1em;
          line-height: 1.5;
          text-shadow: none;
          font-weight: normal; }
          .panel-group .panel .panel-heading .panel-title a .glyphicon {
            color: #666;
            font-size: 0.75em;
            margin-right: 10px; }
          .panel-group .panel .panel-heading .panel-title a .glyphicon-minus {
            display: inline-block; }
          .panel-group .panel .panel-heading .panel-title a .glyphicon-plus {
            display: none; }
          .panel-group .panel .panel-heading .panel-title a.collapsed .glyphicon-plus {
            display: inline-block; }
          .panel-group .panel .panel-heading .panel-title a.collapsed .glyphicon-minus {
            display: none; }
    .panel-group .panel .panel-collapse .panel-body {
      border-top: 1px dotted #efefef;
      background: white;
      font-size: 14px;
      line-height: 1.6;
      padding: 10px 15px 15px;
      text-shadow: none;
      color: #212121; }
      .panel-group .panel .panel-collapse .panel-body p {
        margin-bottom: 0;
        font-weight: normal;
        text-shadow: none; }

form .control-label {
  font-size: 15px; }
form .form-control {
  border-radius: 0;
  background: white;
  border-color: #ccc;
  box-shadow: none;
  color: #212121;
  padding: 6px 8px;
  font-weight: normal;
  height: 36px;
  transition: width 1s ease-in-out; }
  form .form-control.error {
    border-color: #2484ce; }
form .placeholder {
  color: #aaaaaa; }
form label.error {
  font-size: 13px;
  font-weight: normal;
  background: #2484ce;
  color: white;
  padding: 5px 10px;
  display: block;
  border-radius: 0 0 4px 4px;
  margin-top: -1px; }
form input[type="tel"] {
  -webkit-user-select: none; }
form select.form-control {
  -webkit-appearance: none;
  background: white url("../images/dd-arrow.jpg") 97% 12px no-repeat;
  background-size: 8px 12px;
  border-radius: 0;
  color: #999;
  font-weight: normal; }
  form select.form-control.hot {
    border-color: #2484ce;
    box-shadow: 0 0 15px white;
    outline: 1px; }
  form select.form-control.valid {
    color: #212121; }
form.intake-form .form-group {
  position: relative;
  margin-bottom: 6px; }
  form.intake-form .form-group .form-control {
    border-color: #333;
    height: 40px; }
  form.intake-form .form-group .col-sm-6.left {
    padding-right: 3px;
    position: relative; }
  form.intake-form .form-group .col-sm-6.right {
    padding-left: 3px;
    position: relative; }
    form.intake-form .form-group .col-sm-6.right label.error {
      right: 15px; }

.navbar {
  background: white;
  margin: 0; }
  .navbar .container {
    position: relative; }
  .navbar .navbar-header .navbar-brand {
    display: block;
    background: url("../images/logo.png") center 26px no-repeat;
    background-size: auto 43.4782608696px;
    padding: 0;
    width: 250px;
    height: 100px;
    text-indent: -9999px; }
  .navbar .navbar-collapse .navbar-nav {
    margin-top: 20px; }
    .navbar .navbar-collapse .navbar-nav li.active a {
      background: transparent; }
    .navbar .navbar-collapse .navbar-nav li a {
      padding: 15px 20px;
      line-height: 40px;
      font-size: 16px;
      color: #212121; }
      .navbar .navbar-collapse .navbar-nav li a:hover {
        color: #2484ce; }
    .navbar .navbar-collapse .navbar-nav li:last-child a {
      padding-right: 0;
      font-weight: bold; }
    .navbar .navbar-collapse .navbar-nav.utility {
      position: absolute;
      right: 30px;
      top: 0;
      margin: 0;
      text-align: center;
      padding: 3px 0 7px 5px;
      border-radius: 0 0 5px 5px;
      border-top: none; }
      .navbar .navbar-collapse .navbar-nav.utility li {
        padding: 5px 0 0; }
        .navbar .navbar-collapse .navbar-nav.utility li:last-child a {
          border-right: none;
          font-weight: normal;
          padding-right: 0; }
        .navbar .navbar-collapse .navbar-nav.utility li a {
          padding: 0 10px;
          border-right: 1px solid #dadada;
          font-size: 13px;
          color: #555;
          line-height: 1.2;
          display: block; }
          .navbar .navbar-collapse .navbar-nav.utility li a:hover {
            text-decoration: underline; }

body.home section {
  padding: 4em 0; }
  body.home section h1, body.home section h2 {
    font-size: 2.8em;
    text-align: center; }
    body.home section h1.flat, body.home section h2.flat {
      margin: 0 0 10px; }
  body.home section .intro {
    text-align: center;
    margin-bottom: 2em;
    font-size: 18px; }
body.home .motif {
  background-color: white;
  background-image: url("../images/motif.jpg");
  background-size: auto 80%;
  background-position: 120% 50%;
  background-repeat: no-repeat; }
body.home .hero {
  min-height: 480px;
  background: url("../images/hero-bg.jpg") 100% 0% no-repeat;
  background-size: cover;
  text-align: center; }
  body.home .hero h1 {
    margin-top: 30px;
    font-size: 3.5em; }
  body.home .hero h2 {
    font-weight: normal;
    line-height: 1.5;
    font-size: 22px;
    margin-bottom: 1.5em; }
body.home .logos {
  background: white;
  padding: 2em 0;
  border-bottom: 1px solid #efefef; }
  body.home .logos .logo {
    text-align: center;
    vertical-align: middle;
    width: 20%;
    float: left; }
  body.home .logos img {
    display: inline-block;
    vertical-align: middle;
    height: 32px;
    width: auto; }
  body.home .logos .health img {
    height: 20px;
    width: auto;
    margin-top: 3px; }
body.home .features .tabbable {
  margin-bottom: 30px; }
body.home .features .nav-tabs li a {
  font-size: 14px; }
body.home .features .tab-pane {
  padding: 80px 0 80px 80px; }
  body.home .features .tab-pane h3 {
    margin-bottom: 30px; }
  body.home .features .tab-pane p {
    font-size: 14px;
    line-height: 1.7; }
  body.home .features .tab-pane ul li {
    font-size: 14px;
    margin-bottom: 15px;
    max-width: 540px; }
  body.home .features .tab-pane.webcam {
    background: white url("../images/vsee-logo.jpg") right bottom no-repeat;
    background-size: 300px 150px;
    padding-bottom: 60px; }
  body.home .features .tab-pane.vsee img {
    margin-top: 60px;
    margin-left: -20px; }
  body.home .features .tab-pane.motif {
    background: white url("../images/motif-right.jpg") right top no-repeat;
    background-size: 300px 415px; }
  body.home .features .tab-pane.fitbit {
    background: white url("../images/fitbit.jpg") right top no-repeat;
    background-size: 300px 415px;
    padding-bottom: 60px; }
  body.home .features .tab-pane .btn-lg {
    margin-right: 10px;
    font-size: 15px;
    padding: 14px 36px; }
  body.home .features .tab-pane .btn-default {
    color: #2484ce;
    border: none; }
body.home .testimonials .glyphicon-heart {
  color: #dd338c; }
body.home .testimonials .thumbnail {
  position: relative;
  height: 130px;
  width: auto;
  display: inline-block;
  border-radius: 100px;
  border: 1px solid #dadada;
  margin: 0 0 20px; }
body.home .testimonials h1 {
  margin-bottom: 40px; }
  body.home .testimonials h1 i {
    font-size: 0.8em;
    margin: 0 8px 0 4px; }
body.home .testimonials h2 {
  font-weight: normal;
  font-size: 18px;
  margin: 0 0 20px; }
body.home .testimonials p {
  margin-bottom: 40px; }
body.home .testimonials blockquote {
  display: block;
  border-radius: 2px;
  padding: 0 15px;
  font-style: italic;
  border: none;
  font-size: 14px;
  line-height: 1.7;
  margin: 0 0 30px;
  clear: both; }
  body.home .testimonials blockquote small {
    margin-top: 20px;
    font-size: 14px;
    font-style: normal;
    font-weight: bold;
    color: #212121;
    font-family: "Open Sans", sans-serif; }
    body.home .testimonials blockquote small em {
      white-space: normal;
      font-weight: normal;
      font-style: normal;
      font-size: 12px; }
  body.home .testimonials blockquote img {
    height: 20px;
    width: auto; }
body.home .pricing {
  background: white; }
  body.home .pricing .card {
    background: #f6f6f6;
    border: none;
    padding: 30px;
    text-align: center;
    position: relative;
    margin-bottom: 2em; }
    body.home .pricing .card .save {
      width: 56px;
      height: 56px;
      border-radius: 50%;
      position: absolute;
      display: block;
      line-height: 1.3;
      background: #2484ce;
      color: white;
      top: -20px;
      right: -20px;
      border: 4px solid white;
      text-align: center;
      padding-top: 10px;
      z-index: 10;
      font-size: 12px; }
    body.home .pricing .card h2 {
      margin: 20px 0;
      font-size: 32px; }
    body.home .pricing .card h3 {
      margin-bottom: 60px;
      font-size: 18px; }
  body.home .pricing .btn {
    width: 100%;
    max-width: 100%;
    padding: 10px 0;
    font-size: 14px; }
  body.home .pricing.ash .card {
    background: white; }
body.home .faq .panel-group {
  margin-bottom: 20px; }
body.home .faq .btn-primary {
  margin-top: 20px; }

.bar {
  transition: all 0.5s ease-in-out;
  top: 0; }
  .bar.affix {
    top: 60px; }

.main-content .card input[type="submit"] {
  display: block;
  width: 100%;
  background: #e63d25;
  border: 1px solid #c22c16;
  color: white;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  padding: 16px 40px;
  line-height: 1;
  height: auto; }
  .main-content .card input[type="submit"]:hover {
    background: #c22c16; }
.main-content .card hr {
  display: inline-block;
  width: 30%;
  margin: 40px 0; }
.main-content .card header {
  background-size: cover;
  background-position: 50% 50%;
  height: 260px;
  text-align: center;
  z-index: 1;
  position: relative; }
  .main-content .card header .overlay {
    height: 260px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    text-align: center;
    background: rgba(0, 0, 0, 0.5);
    z-index: 2; }
    .main-content .card header .overlay h1 {
      font-size: 44px;
      color: white;
      line-height: 260px;
      border: none;
      text-shadow: 0 1px 0 rgba(0, 0, 0, 0.3); }
.main-content .card article, .main-content .card .inner {
  padding: 40px; }
  .main-content .card article h3, .main-content .card .inner h3 {
    font-size: 20px;
    font-weight: bold;
    margin-top: 40px;
    margin-bottom: 15px;
    padding-bottom: 5px;
    border-bottom: 1px solid #f9f9f9; }

.about .well {
  padding-top: 0;
  background: transparent;
  border: none;
  box-shadow: none; }
  .about .well h3 {
    margin: 0 0 20px; }
  .about .well ul li {
    margin-bottom: 10px; }
.about form .form-group {
  margin-bottom: 20px; }
.about form input, .about form select {
  border-radius: 2px;
  height: 38px;
  font-size: 16px; }
.about form select {
  padding-left: 15px; }
.about form textarea {
  min-height: 150px; }
.about form .btn {
  display: block;
  width: 100%;
  background: #e63d25;
  border: 1px solid #c22c16;
  color: white;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  padding: 16px 40px;
  line-height: 1;
  height: auto; }
  .about form .btn:hover {
    background: #c22c16; }
.about form select.active {
  color: #212121; }

.leadership h2 {
  margin: 0 0 30px; }
.leadership .card .person {
  text-align: center;
  min-height: 240px; }
.leadership .card .headshot {
  border: none;
  border-radius: 50%;
  padding: 5px;
  clear: both;
  margin-bottom: 10px;
  width: 125px;
  height: auto;
  display: inline-block; }
.leadership .card p {
  text-align: center; }
  .leadership .card p small {
    display: block; }
.leadership .card .linkedin {
  text-align: right;
  font-size: 14px;
  margin-bottom: 0; }
  .leadership .card .linkedin .btn-default {
    font-size: 12px;
    border: 1px solid #dadada;
    background-image: linear-gradient(white, #f9f9f9); }
    .leadership .card .linkedin .btn-default:hover {
      background: #f9f9f9; }
  .leadership .card .linkedin img {
    width: 14px;
    height: 14px;
    display: inline-block;
    vertical-align: middle;
    margin-right: 2px;
    margin-bottom: 2px; }
.leadership .card hr {
  display: inline-block;
  width: 30%;
  margin: 40px 0; }
.leadership .card .modal-dialog {
  width: 800px; }
  .leadership .card .modal-dialog p, .leadership .card .modal-dialog h2 {
    text-align: left; }
    .leadership .card .modal-dialog p.linkedin, .leadership .card .modal-dialog h2.linkedin {
      text-align: center; }
  .leadership .card .modal-dialog .portrait {
    display: inline-block;
    height: auto;
    margin-bottom: 20px; }

.press-hits .card article {
  padding: 20px 20px 20px 40px;
  margin-bottom: 20px;
  border-bottom: 1px solid #efefef; }
  .press-hits .card article:last-child {
    border: none; }
  .press-hits .card article h2 {
    font-size: 24px;
    line-height: 1.4;
    margin: 0; }
  .press-hits .card article small {
    display: block;
    text-align: left;
    margin: 0 0 10px;
    font-size: 14px; }
  .press-hits .card article table {
    border: none; }
    .press-hits .card article table td {
      border: none; }
  .press-hits .card article .logo {
    background-size: 100px auto;
    background-repeat: no-repeat;
    background-position: center center; }

.customers .card article h2 {
  font-size: 18px;
  margin-bottom: 10px; }

.testimonials .card article {
  border-bottom: 1px solid #efefef; }
  .testimonials .card article blockquote {
    border: none;
    font-style: italic;
    line-height: 1.7; }
  .testimonials .card article img {
    margin-bottom: 15px;
    display: inline-block;
    width: 150px;
    height: auto; }

.careers h2 {
  margin-bottom: 30px; }
.careers .panel-group .panel {
  box-shadow: none; }
  .careers .panel-group .panel .btn-primary {
    padding: 13px 28px 14px;
    font-size: 15px;
    margin-top: 20px; }

.contact .well {
  background: #efefef;
  border-radius: 0;
  padding: 20px; }
  .contact .well hr {
    width: 100%;
    display: block;
    margin: 20px 0;
    border-color: #dadada; }
.contact address span {
  display: block;
  margin-bottom: 8px; }
.contact .google-map {
  position: relative;
  padding-bottom: 75%;
  height: 0;
  overflow: hidden;
  margin-bottom: 20px; }
  .contact .google-map iframe {
    background: white;
    padding: 6px;
    position: absolute;
    border: 1px solid #ddd !important;
    top: 0;
    left: 0;
    width: 100% !important;
    height: 100% !important; }

.signup .card {
  width: 450px;
  padding: 30px 40px;
  display: inline-block; }
  .signup .card h1 {
    font-size: 28px;
    margin: 10px 0 40px; }
  .signup .card .form-group label {
    display: block;
    text-align: left; }
  .signup .card .form-group input {
    width: 100%; }
  .signup .card .frm_submit {
    margin: 0; }

.product h2 {
  font-size: 38px;
  margin-bottom: 30px; }
.product ul {
  margin: 0 0 30px 20px;
  padding: 0; }
  .product ul li {
    margin-bottom: 12px; }
.product .btn-primary {
  font-size: 16px; }
.product .hero {
  background: #212121 url("../images/hospital-bg.jpg") center bottom no-repeat;
  background-size: cover;
  color: white;
  text-align: center; }
  .product .hero h1 {
    font-size: 50px; }
  .product .hero h2 {
    font-size: 24px;
    margin: 0 0 40px; }
  .product .hero ul {
    list-style-type: none;
    display: inline-block;
    margin-bottom: 40px; }
    .product .hero ul li {
      font-size: 20px;
      text-align: left;
      margin-bottom: 10px; }
      .product .hero ul li i {
        font-size: 0.85em;
        top: 0;
        margin-right: 6px; }
.product .app {
  background: transparent;
  padding: 5em 0; }
.product .providers {
  padding: 5em 0;
  background: white url("../images/motif-medium.jpg") 87% 50% no-repeat;
  background-size: auto 280px; }
.product .patients {
  padding: 5em 0;
  background: transparent; }
  .product .patients img {
    width: 140px;
    height: auto;
    margin-top: 80px; }

.pricing .hero {
  background: #212121 url("../images/lap-pool.jpg") center bottom no-repeat;
  background-size: cover;
  color: white;
  padding: 5em 0; }
  .pricing .hero h1 {
    font-size: 50px; }
  .pricing .hero h2 {
    margin-bottom: 30px; }
.pricing .plans h2 {
  font-size: 38px;
  text-align: center; }
.pricing .plans .intro {
  font-size: 20px;
  text-align: center; }
.pricing .plans .card {
  background: #f6f6f6;
  border: 1px solid #eaeaea;
  padding: 30px;
  text-align: center;
  position: relative;
  margin-bottom: 2em; }
  .pricing .plans .card .save {
    width: 56px;
    height: 56px;
    border-radius: 50%;
    position: absolute;
    display: block;
    line-height: 1.3;
    background: #2484ce;
    color: white;
    top: -20px;
    right: -20px;
    text-align: center;
    padding-top: 12px;
    z-index: 10;
    font-size: 12px; }
  .pricing .plans .card h2 {
    margin: 20px 0;
    font-size: 32px; }
  .pricing .plans .card h3 {
    margin-bottom: 60px;
    font-size: 18px; }
  .pricing .plans .card .btn {
    width: 100%;
    max-width: 100%;
    padding: 10px 0;
    font-size: 14px; }

@media only screen and (min-width: 992px) and (max-width: 1199px) {
  body.home .testimonials blockquote {
    font-size: 13px; }
  body.home .testimonials .thumbnail {
    height: 100px;
    width: auto; } }
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .navbar .navbar-collapse .navbar-nav li a {
    padding: 15px;
    font-size: 14px; }

  body.home section h1, body.home section h2 {
    font-size: 2.25em; }
  body.home .hero {
    background-position: 70% 0; }
    body.home .hero h1 {
      font-size: 3em; }
    body.home .hero h2 {
      font-size: 20px; }
  body.home .logos img {
    height: 24px; }
  body.home .logos .health img {
    height: 16px;
    width: auto; }
  body.home .features .nav-tabs li a {
    font-size: 12px; }
  body.home .features .tab-pane {
    padding: 60px; }
    body.home .features .tab-pane .btn-lg {
      padding: 14px 32px; }
    body.home .features .tab-pane.motif {
      background-image: url("../images/motif.jpg");
      background-position: 120% 50%;
      background-size: auto 80%; }
    body.home .features .tab-pane.fitbit {
      background-size: 200px auto;
      background-position: 103% 60px; }
    body.home .features .tab-pane.patient, body.home .features .tab-pane.provider {
      background-image: url("../images/motif.jpg");
      background-position: 120% 50%;
      background-size: auto 80%;
      background-repeat: no-repeat; }
  body.home .testimonials blockquote {
    font-size: 13px; }
    body.home .testimonials blockquote small {
      white-space: nowrap; }
  body.home .testimonials .thumbnail {
    height: 100px;
    width: auto; } }
@media screen and (max-width: 767px) {
  .navbar .navbar-toggle {
    margin-top: 24px;
    border: none; }
    .navbar .navbar-toggle:hover {
      background: transparent; }
      .navbar .navbar-toggle:hover .icon-bar {
        background: #2484ce; }
      .navbar .navbar-toggle:hover .text {
        color: #2484ce; }
    .navbar .navbar-toggle .icon-bar {
      background: #e63d25;
      border-radius: 1px;
      height: 3px;
      width: 26px; }
    .navbar .navbar-toggle .text {
      font-size: 9px;
      color: #e63d25;
      text-transform: uppercase; }
  .navbar .navbar-collapse .navbar-nav.utility {
    position: relative;
    right: auto;
    top: auto; }
    .navbar .navbar-collapse .navbar-nav.utility li {
      width: 33%;
      margin-bottom: 15px; }
      .navbar .navbar-collapse .navbar-nav.utility li a {
        font-size: 14px; }
        .navbar .navbar-collapse .navbar-nav.utility li a:hover {
          text-decoration: none;
          color: #2484ce; }
  .navbar .navbar-collapse .navbar-nav li {
    float: left;
    width: 50%;
    text-align: center; }
    .navbar .navbar-collapse .navbar-nav li.phone {
      clear: both;
      float: none;
      width: 100%;
      margin-bottom: 10px; }
    .navbar .navbar-collapse .navbar-nav li a {
      padding: 15px;
      font-size: 16px;
      line-height: 1.2; }

  body.home section {
    overflow-x: hidden;
    padding: 3em 0; }
    body.home section h1, body.home section h2 {
      font-size: 2em; }
    body.home section .btn-default {
      border: 1px solid #dadada; }
  body.home .hero {
    display: block;
    background-position: 78% 0%;
    min-height: 420px; }
    body.home .hero h1 {
      font-size: 2.5em;
      margin-top: 0; }
    body.home .hero h2 {
      font-size: 18px; }
  body.home .logos .logo {
    width: 50%; }
    body.home .logos .logo.top {
      margin-bottom: 15px; }
    body.home .logos .logo.bottom {
      margin-top: 15px; }
  body.home .features .tabbable {
    margin: 0; }
  body.home .features .nav-tabs {
    list-style-type: disc;
    border: none;
    border-bottom: 1px solid #efefef;
    margin-bottom: 15px; }
    body.home .features .nav-tabs li {
      display: block;
      list-style-type: disc;
      margin-bottom: 10px;
      width: 50%; }
      body.home .features .nav-tabs li a {
        background: transparent;
        text-align: center;
        color: #2484ce;
        border: none;
        padding: 0; }
      body.home .features .nav-tabs li.active a {
        background: transparent;
        font-weight: bold;
        border: none;
        color: #2484ce; }
      body.home .features .nav-tabs li:last-child {
        width: 100%; }
  body.home .features .tab-content .tab-pane {
    padding: 0px;
    background: transparent;
    border: none; }
    body.home .features .tab-content .tab-pane h3 {
      font-size: 18px;
      text-align: left;
      margin-bottom: 10px;
      font-weight: normal;
      line-height: 1.3; }
    body.home .features .tab-content .tab-pane .btn-lg {
      width: 100%;
      display: block;
      margin-bottom: 10px; }
    body.home .features .tab-content .tab-pane .btn-default {
      border: 1px solid #dadada; }
  body.home .pricing .card {
    border: 1px solid #dadada;
    padding: 15px;
    text-align: left;
    margin-bottom: 1em; }
    body.home .pricing .card h2 {
      margin: 0px 5px 0 0;
      display: inline-block;
      text-align: left;
      font-size: 26px;
      font-weight: normal; }
    body.home .pricing .card h3 {
      display: inline-block;
      text-align: left;
      margin-bottom: 15px; }
      body.home .pricing .card h3 small {
        margin: 0; }
    body.home .pricing .card .save {
      top: -10px;
      right: -10px;
      border: none;
      width: 52px;
      height: 52px; }
  body.home .testimonials h1 {
    font-size: 24px; }
  body.home .testimonials blockquote {
    padding-bottom: 20px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
    margin-bottom: 20px; }
  body.home .faq h1 {
    font-size: 22px; }
  body.home .faq p.text-center {
    font-size: 14px; }
  body.home .faq .panel-group .panel {
    border: 1px solid #ccc; }
  body.home .faq .panel-group .panel .panel-heading .panel-title a .glyphicon {
    margin-right: 4px; }

  .footer .bucket {
    text-align: center;
    padding-bottom: 20px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.15);
    margin-bottom: 20px;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.05); }
    .footer .bucket.badges {
      border: none;
      box-shadow: none;
      margin: 0; }
      .footer .bucket.badges img {
        margin-top: 0 !important; } }
.footer {
  margin-top: 0; }
  .footer .bucket h3 {
    text-transform: uppercase;
    font-size: 16px;
    margin-bottom: 20px; }
  .footer .bucket ul li {
    margin-bottom: 10px; }
  .footer .bucket ul a {
    font-size: 14px; }
  .footer .bucket.badges img {
    display: inline-block;
    vertical-align: middle;
    height: 75px;
    width: auto;
    margin: 20px 10px 0; }
  .footer.dark {
    background: #333;
    color: white; }
    .footer.dark h3 {
      color: #efefef;
      color: rgba(255, 255, 255, 0.75); }
    .footer.dark .bucket a {
      color: white;
      text-shadow: 0 1px 0 rgba(0, 0, 0, 0.1); }
  .footer .copyright {
    margin-top: 2em;
    font-size: 13px; }
    .footer .copyright a {
      color: white;
      text-decoration: none; }
